            <footer id="footer">
                <p class="copyright">&copy; Joe Hladnik Web Development. All Rights Reserved.</p>
            </footer>

        </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>