<%- include('partials/header') -%>

    <article id="addDelete" class="panel secondary">
        <div class="image">
            <img src="images/pic04.png" alt="pic of pill containers" data-position="bottom center" />
        </div>
        <div class="content">
            <ul class="actions animated spinX">
                <li><a href="/profile" class="button small back">Menu</a></li>
            </ul>
            <div class="inner">
                <header>
                    <h2>Add Substance</h2>
                </header>
                <form action="med/createMed" enctype="multipart/form-data" method="POST">
                    <div class="fields">
                        <div class="field half">
                            <label class="form-label" for="substance">Substance</label>
                            <input class="form-control" type="text" name="substance" id="substance">
                        </div>
                        <div class="field half">
                            <label class="form-label" for="dosage">Dosage</label>
                            <input class="form-control" type="text" name="dosage" id="dosage">
                        </div>
                        <div class="field">
                            <label class="form-label" for="notes">Notes</label>
                            <textarea class="form-control" name="notes" id="notes" rows="5"></textarea>
                        </div>
                    </div>
                    <ul class="field actions">
                        <li><input type="submit" value="submit" class="primary" /></li>
                    </ul>
                </form>
            </div>
        </div>
    </article>

<%- include('partials/footer') -%>