<%- include('partials/header') -%>

    <article id="list" class="panel secondary">
        <div class="image">
            <img src="images/pic02.png" alt="pic of vitamin supplements" data-position="center center" />
        </div>
        <div class="content">
            <ul class="actions animated spinX">
                <li><a href="#" class="button small back">Back</a></li>
            </ul>
            <div class="inner">
                <header>
                    <h2>Your medicines and supplements</h2>
                </header>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Notes</th>
                                <th>Dosage</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="vitamin" id="numOne">
                                <td class="vitamin"  id="medOne">#medOne</td>
                                <td class="medNote" id="noteOne">Time:</td>
                                <td class="dosage" id="doseOne">#mg</td>
                                <td align="center"><a href="#" class="button primary" >Take</a></td>
                            </tr>
                            <tr class="vitamin" id="numTwo">
                                <td class="vitamin" id="medTwo">#medTwo</td>
                                <td class="medNote" id="noteTwo">Time:</td>
                                <td class="dosage" id="doseTwo">#mg</td>
                                <td align="center"><a href="#" class="button primary">Take</a></td>
                            </tr>
                            <tr class="vitamin" id="numThree">
                                <td class="vitamin" id="medThree">#medThree</td>
                                <td class="medNote"  id="noteThree">Time:</td>
                                <td class="dosage" id="doseThree">#mg</td>
                                <td align="center"><a href="#" class="button primary">Take</a></td>
                            </tr>
                            <tr class="vitamin" id="numFour">
                                <td class="vitamin" id="medFour">#medFour</td>
                                <td class="medNote"  id="noteFour">Time:</td>
                                <td class="dosage" id="doseFour">#mg</td>
                                <td align="center"><a href="#" class="button primary">Take</a></td>
                            </tr>
                            <tr class="vitamin" id="numFive">
                                <td class="vitamin" id="medFive">#medFive</td>
                                <td class="medNote"  id="noteFive">Time:</td>
                                <td class="dosage" id="doseFive">#mg</td>
                                <td align="center"><a href="#" class="button primary">Take</a></td>
                            </tr>
                            <tr class="vitamin" id="numSix">
                                <td class="vitamin" id="medSix">#medSix</td>
                                <td class="medNote"  id="noteSix">Time:</td>
                                <td class="dosage" id="doseSix">#mg</td>
                                <td align="center"><a href="#" class="button primary">Take</a></td>
                            </tr>
                            <tr class="vitamin" id="numSeven"></tr>
                            <tr class="vitamin" id="numEight"></tr>
                            <tr class="vitamin" id="numNine"></tr>
                            <tr class="vitamin" id="numTen"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </article>
    
<%- include('partials/footer') -%>